---

import { Image } from 'astro:assets'
import "../styles/base.css"
import LinksNav from "./linksNav.astro"
import logo from "../assets/images/logo.png"
import SocialLinks from "./socialLinks.astro"
import MorphicNavbar from "./react/MorphicNav.tsx"

const linksNav = [ 
    { href: "#", text: "Home" },
    { href: "#", text: "About" },
    { href: "#", text: "Contact" },
];
---
<header class="flex items-center justify-between px-10 py-3 md:py-1 shadow max-w-7xl rounded-full mx-auto w-full bg-gradient-to-r from-pink-400 via-purple-400 to-blue-400 text-transparent bg-[length:300%_auto] animate-gradient-shift z-50">
    <MorphicNavbar client:only="react" />
    <a href="/">
        <Image src={logo} alt="Logo" class="w-[100%] h-25 sm:hidden md:block lg:block xl:block 2xl:block 3xl:block" />
    </a>
    <SocialLinks />
</header>

<script>
    const openMenu = document.getElementById('openMenu');
    const closeMenu = document.getElementById('closeMenu');
    const menu = document.getElementById('menu');

    openMenu.addEventListener('click', () => {
        menu.classList.remove('max-md:w-0');
        menu.classList.add('max-md:w-full');
    });

    closeMenu.addEventListener('click', () => {
        menu.classList.remove('max-md:w-full');
        menu.classList.add('max-md:w-0');
    });
</script>