---
import "../styles/base.css"
import TabsIllustraciones from "./tabsIllustraciones.astro";
import ImageGalleryKawaii from "./kawaii/imageGalleryKawaii.astro";
import ImageGalleryFanArts from "./kawaii/imageGalleryFanArts.astro";
import ImageGalleryAll from "./kawaii/imageGalleryAll.astro";
---

<div class="mx-auto max-w-9xl px-4 py-8 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg text-center">
    <h2 class="font-bold bg-gradient-to-r from-pink-400 via-purple-400 to-blue-400 bg-clip-text text-transparent text-5xl/tight sm:text-6xl">ILUSTRACIONES</h2>

    <p class="mt-4 text-lg text-pretty text-gray-700">
        Ilustraciones para redes sociales, blogs, etc.
        <br />
        Hechos con amor y pasión.
    </p>
  </div>

  <div class="flex flex-wrap items-center justify-center mt-10 mx-auto gap-4 w-full md:w-11/12 lg:w-3/4">
    <TabsIllustraciones>
      <div class="tab-content active" data-tab="all">
        <ImageGalleryAll />
      </div>
      <div class="tab-content" data-tab="kawaii">
        <ImageGalleryKawaii />
      </div>
      <div class="tab-content" data-tab="fanarts">
        <ImageGalleryFanArts />
      </div>
    </TabsIllustraciones>
  </div>
</div>