---
import "../styles/base.css"
---

<div class="tabs-container w-full">
    <div class="flex flex-wrap w-full items-center justify-center mb-6 gap-4">
        <button class="tab-button active" data-tab="all">
            Todos los proyectos
        </button>
        <button class="tab-button" data-tab="kawaii">
            Proyectos Kawaii
        </button>
        <button class="tab-button" data-tab="fanarts">
            Proyectos Fanarts
        </button>
    </div>

    <div class="tab-contents w-full">
        <slot />
    </div>
</div>

<script>
    const tabButtons = document.querySelectorAll('.tab-button');
    const tabContents = document.querySelectorAll('.tab-content');
    
    tabButtons.forEach(button => {
        button.addEventListener('click', () => {
            const targetTab = button.dataset.tab;
            tabButtons.forEach(btn => btn.classList.remove('active'));
            tabContents.forEach(content => content.classList.remove('active'));
            button.classList.add('active');
            const targetContent = document.querySelector(`.tab-content[data-tab="${targetTab}"]`);
            if (targetContent) {
                targetContent.classList.add('active');
            }
        });
    });
</script>